@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">AIRIS DMS</h1>
    <h3>The future is here</h3>
</div>
<div class="right-home">
    <img src="~/Images/pinetree.png" />
    <img src="~/" />
</div>
