@model DMSMVC.Models.DTOs.StaffDto
@{
    Layout = "_Layout2";
}
<h3 class="i-name">
    DashBoard

</h3>
<div class="values">
    <div class="val-box">
        <i class="fa fa-users"></i>
        <div>
            <!-- This dynamically display the number of all staff in the department-->
            <h3>356</h3>
            <span>No of Staffs</span>
        </div>
    </div>
    <!--==========box 2=============-->
    <div class="val-box">
        <i class="fa fa-book"></i>
        <div>
            <!-- This dynamically display the documents in the department-->
            <h3>356</h3>
            <span>No of Documents</span>
        </div>
    </div>
    <!--==========box 3=============-->
    <div class="val-box">
        <i class="	fa fa-bars"></i>
        <div>
            <!-- This dynamically display the number that belong to long in user-->
            <h3>356</h3>
            <span>Your documents</span>
        </div>
    </div>
    <!--==========box 4=============-->
    <div class="val-box">
        <i class="	fa fa-handshake-o"></i>
        <div>
            <!-- This dynamically display the number of all staff in the department-->
            <h3>356</h3>
            <span>No of Staffs</span>
        </div>
    </div>
</div>

<!--========table below the value boxes  -->
<div class="board">
    <table width=100%>
        <thead>

        <thead>
            <tr>
                <td>Name</td>
                <td>StaffNumber</td>
                <td>Email</td>
                <td>Status</td>
                <td>Uploaded Doc</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="people">
                    <img src="tobi.jpg" alt="">
                    <div class="people-de">
                        <p>John DOe</p>
                    </div>
                </td>

                <td class="people-des">
                    <!--Staff number here-->
                    <p>Software Engineer</p>
                    <p>Web dev</p>
                </td>


                <td class="Email">
                    <p>john@airis.com</p>
                </td>

                <td class="active">
                    <p>Active</p>
                </td>
                <!--Number documents uploaded-->
                <td class="role">2</td>

                <!--Edit Profile-->
                <td class="edit"><a href="#">Edit</a></td>
            </tr>
            <tr>
                <td class="people">
                    <img src="tobi.jpg" alt="">
                    <div class="people-de">
                        <p>John DOe</p>
                    </div>
                </td>

                <td class="people-des">
                    <!--Staff number here-->
                    <p>Software Engineer</p>
                    <p>Web dev</p>
                </td>


                <td class="Email">
                    <p>john@airis.com</p>
                </td>

                <td class="active">
                    <p>Active</p>
                </td>
                <!--Number documents uploaded-->
                <td class="role">2</td>

                <!--Edit Profile-->
                <td class="edit"><a href="#">Edit</a></td>
            </tr>
            <tr>
                <td class="people">
                    <img src="tobi.jpg" alt="">
                    <div class="people-de">
                        <p>John DOe</p>
                    </div>
                </td>

                <td class="people-des">
                    <!--Staff number here-->
                    <p>Software Engineer</p>
                    <p>Web dev</p>
                </td>


                <td class="Email">
                    <p>john@airis.com</p>
                </td>

                <td class="active">
                    <p>Active</p>
                </td>
                <!--Number documents uploaded-->
                <td class="role">2</td>

                <!--Edit Profile-->
                <td class="edit"><a href="#">Edit</a></td>
            </tr>
            <tr>
                <td class="people">
                    <img src="tobi.jpg" alt="">
                    <div class="people-de">
                        <p>John DOe</p>
                    </div>
                </td>

                <td class="people-des">
                    <!--Staff number here-->
                    <p>Software Engineer</p>
                    <p>Web dev</p>
                </td>


                <td class="Email">
                    <p>john@airis.com</p>
                </td>

                <td class="active">
                    <p>Active</p>
                </td>
                <!--Number documents uploaded-->
                <td class="role">2</td>

                <!--Edit Profile-->
                <td class="edit"><a href="#">Edit</a></td>
            </tr>
            <tr>
                <td class="people">
                    <img src="tobi.jpg" alt="">
                    <div class="people-de">
                        <p>John DOe</p>
                    </div>
                </td>

                <td class="people-des">
                    <!--Staff number here-->
                    <p>Software Engineer</p>
                    <p>Web dev</p>
                </td>


                <td class="Email">
                    <p>john@airis.com</p>
                </td>

                <td class="active">
                    <p>Active</p>
                </td>
                <!--Number documents uploaded-->
                <td class="role">2</td>

                <!--Edit Profile-->
                <td class="edit"><a href="#">Edit</a></td>
            </tr>

            <!-- row 2 -->
            <tr>
                <td class="people">
                    <img src="tobi.jpg" alt="">
                    <div class="people-de">
                        <p>John DOe</p>
                    </div>
                </td>

                <td class="people-des">
                    <!--Staff number here-->
                    <p>Software Engineer</p>
                    <p>Web dev</p>
                </td>


                <td class="Email">
                    <p>john@airis.com</p>
                </td>

                <td class="active">
                    <p>Active</p>
                </td>
                <!--Number documents uploaded-->
                <td class="role">2</td>

                <!--Edit Profile-->
                <td class="edit"><a href="#">Edit</a></td>
            </tr>
        </tbody>
    </table>
</div>